@import "color_manager";

.form-accesso{
	margin: 15rem auto;
	max-width:35rem;
	max-height:30rem;
}
.form-scritta{
	text-align:center;
	font-size:3.6rem;
	margin:0 0 1rem;
}
.input-group{
	margin:0 0 1rem;
}
.testo-centrato{
	text-align:center;
}
.accesso-effettuato{
	margin:10rem auto;
}
.spazio-xs{
	margin-top:4rem;
}
.spazio-alto{
	margin-top:4rem;
}
.spazio-altino{
	margin-top:2.5rem;
}
.spazio-sotto{
	margin-bottom:2rem;
}
.testo-btn{
	text-align:center;
	padding:2rem 0;
}
.testo-btn-piccolo{
	text-align:center;
	padding:1rem 1rem;
	width:100%;
	margin-top:1rem;
}
.btn-largo{
	width:100%;
}
.btn-stretto{
	text-align:center;
}
.footer-testo{
	background-color:$light-gray;
	border:0.1rem solid $gray;
	border-radius:0.4rem;
	height:5rem;
	text-align:right;
	margin-top:10rem;
	padding:1.3rem 2rem 0 0;
}
.colorato-rosso{
	color:red;
}
.alert-padding{
	padding:3rem 0;
}
.elenco-pag{
	font-size:1.5rem;
	text-transform:uppercase;
	padding-top:0.6rem;
}
.riga-alta{
	border-bottom:0.1rem solid $gray;
	overflow:hidden;
	padding:1rem 0;
}
.riga-alta-foto{
	height:8rem;
	border-bottom:0.1rem solid $gray;
}
.link-nero a{
	color:blue;
	text-decoration:none;
}
.link-nero a:hover{
	color:red;
	text-decoration:underline;
}
.elenco-img{
	max-width:12rem;
	max-height:6rem;
}
.img-modifica{
	max-width:30rem;
	max-height:20rem;
}
.breadcrumb{
	background-color:$white;
}
.spazio-sotto div:first-child{
	margin-top:0.7rem;
}
@media(min-width: 768px){
	.spazio-xs{
		margin-top:0;
	}
}	
@media(max-width: 767px){
	.margine-xs{
		margin-top:8rem;
	}
	.margin-xs{
		margin-bottom:0.5rem
	}
}